# Ignore system files
AppData/
Desktop/
Downloads/
OneDrive/
Videos/
NTUSER.*
*.log
*.ini

# Ignore Python & Jupyter cache files
__pycache__/
*.ipynb_checkpoints/
.anaconda/
.conda/
.matplotlib/
.vscode/
.jupyter/

# Ignore raw data files (optional)
data/*.csv
data/*.json
data/*.xlsx
# Ignore all data except final dataset
src/data/*
# Allow specific datasets
!src/data/final_dataset.csv
!src/data/cleaned_census_data.csv
!src/data/kroger_locations.csv
!src/data/product_api_log.csv


!git_data/final_dataset.csv
 
 